<section class="register-section">
    <div class="register-container">
        <h2>Register</h2>
        <form action="/users/register" method="POST" class="register-form" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" name="username" required="required">

            <label for="email">Email:</label>
            <input type="email" name="email" required="required">

            <label for="password">Password:</label>
            <input type="password" name="password" required="required">

            <button type="submit" class="btn">Register</button>
        </form>
        <p>Already have an account? <a href="/users/login">Log in here</a></p>
    </div>
</section>
