<section class="links-section">
  <div class="links-container">
    <h2 style="color: #ef8f6b; font-size: 2.5rem; margin-bottom: 100px;" >Coffees and Desserts</h2>

    {{!-- {{> admin-nav}} --}}

    <div class="row">

      <div class="col-md-12">
        
        <table class="table">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>CATEGORY NAME</th>
                  <th>EDIT</th>
                  <th>DELETE</th>
                </tr>
                
              </thead>
              <tbody>     
                {{#each coffees}}           
                <tr>
                  <td>{{title}}</td>
                  <td>{{category.name}}</td>
                  <td>
                    <a class="btn btn" href="admin/coffees/edit/{{_id}}">EDIT</a>
                  </td>
                  <td>
                    <form action="/admin/coffees/{{_id}}?_method=DELETE" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn deleteButton">DELETE</button>
                    </form>
                  </td>
                </tr>      
                {{/each}}      
              </tbody>
            </table>

      </div>
    </div>
  </div>
</section>